body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: linear-gradient(90deg, #7b2ff7, #9b4dff);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.card {
  background: #cdcece;
  color: #0c1725;
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255,255,255,0.05);
}

p {
  background: rgba(123, 47, 247, 0.2);
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
}

.completada {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
